<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{static '/css/main.css'}">
    <title>Online Donation System</title>
    <style>
        *{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        body{
            background-color: aqua;
        }
        .container{
            background-color: gray;
            max-width: 1000px;
            margin: 0 auto;
            min-height: 1500px;
        }
        h2,h3{
            text-align: center;
            margin: 0 auto;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="Head">Online Donation System</h2>
        <h3>We work for humanity</h3>
    </div>
</body>
</html>